<template>
    <section :id="`comment_${comment.id}`" class="comment">
        <el-card class="box-card" shadow="hover" :body-style="{paddingRight: 0, paddingBottom: isChildren ? 0 : 20}">
            <div slot="header" class="clearfix">
                <span>{{comment.updated_at}}</span>
                <el-button-group class="comment-btn">
                    <el-button type="primary"
                               icon="el-icon-chat-line-square"
                               circle
                               size="small"
                               @click="reply"></el-button>
                    <el-button type="success"
                               icon="el-icon-edit"
                               circle
                               size="small"
                               @click="edit"></el-button>
                    <el-button type="danger" icon="el-icon-delete"
                               circle
                               size="small"
                               @click="remove"></el-button>
                </el-button-group>
            </div>
            <div class="text item">
                <span>
                    {{comment.text}}
                </span>
            </div>
            <div v-if="comment.child && comment.child.length">
                <el-divider></el-divider>
                <comment v-for="childrenComment in comment.child"
                         :key="childrenComment.id"
                         :comment="childrenComment"
                         :isChildren="true"
                         @submit="onSubmit"></comment>
            </div>
        </el-card>
        <el-dialog
            :destroy-on-close="true"
            :title="dialogTitle"
            :visible.sync="dialogVisible"
            width="70%">
            <comment-form :initial-form="initialForm"
                          @submit="onSubmit"
                          @close="showDialog(false)"></comment-form>
        </el-dialog>
    </section>
</template>

<script>
    import {commentMixin} from "./commentMixin";
    import CommentForm from "./CommentForm";
    import {CommentApi} from "../../services/Comment/CommentApi"

    const commentApi = new CommentApi()
    export default {
        name: "Comment",
        props: {
            comment: {
                type: Object,
                required: true
            },
            isChildren: {
                type: Boolean,
                default: false
            },
        },
        components: {
            CommentForm,
        },
        mixins: [
            commentMixin,
        ],
        data() {
            return {
                dialogTitle: 'Edit comment'
            }
        },
        methods: {
            onSubmit() {
                this.$emit('submit')
                this.showDialog(false)
            },
            reply() {
                this.initialForm = Object.assign({}, {
                    parent_id: this.comment.id,
                    post_id: this.$route.params.id,
                    text: '',
                })
                this.dialogTitle = 'Reply comment'
                this.showDialog(true)
            },
            edit() {
                this.initialForm = this.comment
                this.dialogTitle = 'Edit comment'
                this.showDialog(true)
            },
            async remove() {
                await commentApi.delete(this.comment.id)
                this.$emit('submit')
            }
        },
    }
</script>

<style scoped lang="scss">
    .comment-btn {
        float: right;
    }

    .comment {
        margin-bottom: 1em;
    }
</style>
