<template>
    <div>
        <el-card class="box-card" shadow="always">
            <div slot="header" class="clearfix">
                Comments
                <el-button class="add-comment-btn" type="primary" size="small" @click="showDialog()">Add comment
                </el-button>
            </div>
            <div v-if="comments.length">
                <comment v-for="comment in comments" :key="comment.id" :comment="comment" @submit="onSubmit"></comment>
            </div>
            <div v-else>Comments not found!</div>
        </el-card>
        <el-dialog
                :destroy-on-close="true"
                title="Add comment"
                :visible.sync="dialogVisible"
                width="70%">
            <comment-form :initial-form="initialForm"
                          @submit="onSubmit"
                          @close="showDialog(false)"></comment-form>
        </el-dialog>
    </div>
</template>

<script>
    import Comment from "./Comment";
    import CommentForm from "./CommentForm";

    import {commentMixin} from "./commentMixin";

    export default {
        name: "Comments",
        props: {
            comments: {
                type: Array,
                required: true,
                default: () => []
            }
        },
        components: {
            CommentForm,
            Comment
        },
        mixins: [
            commentMixin,
        ],
        methods: {
            onSubmit() {
                this.$emit('fetch-comments')
                this.showDialog(false)
            }
        }
    }
</script>

<style scoped lang="scss">
    .add-comment-btn {
        float: right;
    }
</style>
