<template>
    <el-form ref="commentForm" :model="form" :rules="rules">
        <el-form-item prop="text">
            <el-input type="textarea" v-model="form.text"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('commentForm')">Save</el-button>
            <el-button @click="close">Cancel</el-button>
        </el-form-item>
    </el-form>
</template>

<script>
    import {CommentApi} from "../../services/Comment/CommentApi"

    const commentApi = new CommentApi()

    export default {
        name: "CommentForm",
        props: {
            initialForm: {
                type: Object,
            }
        },
        data() {
            return {
                form: {
                    parent_id: null,
                    post_id: null,
                    text: null
                },
                rules: {
                    text: [
                        {required: true, message: 'Please input comment here', trigger: 'change'},
                        {min: 3, message: 'Minimum length 3', trigger: 'change'}
                    ],
                }
            }
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate(async (valid) => {
                    if (valid) {
                        if (this.form.id) {
                            await commentApi.update(this.form, this.form.id)
                        } else {
                            await commentApi.create(this.form)
                        }
                        this.$emit('submit')
                        this.resetForm(formName)
                    } else {
                        return false;
                    }
                })
            },
            resetForm(formName) {
                this.$refs[formName].resetFields()
            },
            close() {
                this.$emit('close')
            }
        },
        created() {
            this.form = Object.assign({}, this.initialForm)
        },
        watch: {
            initialForm: {
                handler: function (oldValue, newValue) {
                    this.form = Object.assign({}, this.initialForm)
                },
                deep: true
            }
        }
    }
</script>

<style scoped>

</style>
