<template>
    <div class="app" v-bind:data-ruote="this.$route.name">
        <router-view :key="$route.fullPath"></router-view>
    </div>
</template>
<script>
    export default {
        name: 'App',
    }
</script>
<style lang="scss">
    @import "../../sass/element-ui-colors";
    @import "../../sass/element-ui-variables";

    #app {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }
</style>
