<template>
    <el-container id="home">
        <el-main>
            <el-row>
                <el-col>
                    <router-view :key="$route.fullPath"></router-view>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</template>

<script>
    export default {
        name: "Home",
        created() {
            if (this.$route.path === '/') {
                this.$router.push('/posts')
            }
        }
    }
</script>

<style scoped>

</style>
