<template>
    <el-card class="box-card" shadow="always">
        <div slot="header" class="clearfix">
            <router-link :to="{ name: 'post.show', params: { id: post.id }}">
                <span>{{post.title}}</span>
            </router-link>
        </div>
        <div class="text item">
            <span>{{post.text}}</span>
        </div>
    </el-card>
</template>

<script>
    export default {
        name: "PostCard",
        props: {
            post: {
                type: Object,
                required: true,
            }
        }
    }
</script>

<style scoped>

</style>
