<template>
    <el-container id="post">
        <el-main>
            <el-row>
                <el-col>
                    <el-card class="box-card" shadow="always">
                        <div slot="header" class="clearfix post-title">{{post.title}}</div>
                        <div class="post-body">
                            {{post.text}}
                        </div>
                    </el-card>
                    <el-divider></el-divider>
                    <div class="post-comments">
                        <comments :comments="post.comments"
                                  @fetch-comments="fetchPost"></comments>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</template>

<script>
    import Comments from "../Comment/Comments";
    import {PostApi} from "../../services/Post/PostApi";
    import * as fromRouteNames from "../../includes/routes/routeNames";

    const postApi = new PostApi()

    export default {
        name: "Post",
        components: {
            Comments
        },
        data() {
            return {
                post: {
                    title: null,
                    text: null,
                    comments: [],
                },
            }
        },
        methods: {
            async fetchPost() {
                const response = await postApi.fetchById(this.$route.params.id).catch((e) => this.$router.push({name: fromRouteNames.NOT_FOUND}))
                if (response.data.hasOwnProperty('data')) {
                    this.post = response.data.data
                }
            }
        },
        created() {
            this.fetchPost()
        },
    }
</script>

<style scoped>

</style>
