<template>
    <el-container id="posts">
        <el-header>
            <h1>Post list</h1>
        </el-header>
        <el-main>
            <el-row v-for="post in posts" :key="post.id">
                <el-col>
                    <post-card :post="post"></post-card>
                </el-col>
            </el-row>
        </el-main>
    </el-container>
</template>

<script>
    import PostCard from "./PostCard";
    import {PostApi} from "../../services/Post/PostApi"

    const postApi = new PostApi()

    export default {
        name: "Posts",
        components: {
            PostCard,
        },
        data() {
            return {
                posts: [],
            }
        },
        methods: {
            async fetchPosts() {
                const response = await postApi.fetchAll()
                this.posts = response.data.data
            }
        },
        created() {
            this.fetchPosts()
        }
    }
</script>

<style scoped>

</style>
